article {
    width: 90vw;
    height: 100vh;
    border: 2px solid #000;
    margin: 0% 5%;
}

.cards {
    width: 1139px;
    display: flex;
    gap: 40px;
    margin-top: -100px;
    margin-left: 6%;
}

.card1,
.card3 {
    width: 1172px;
    height: 376px;
    border: 2px solid #000;
    box-shadow: 5px 5px;
    background-color: #ED4D1B;
}

.card2,
.card4 {
    width: 1172px;
    height: 376px;
    margin-top: 20px;
    background-color: #FF9A3C;
    border: 2px solid #000;
    box-shadow: 5px 5px;
}

.instrument {
    width: 48px;
    height: 48px;
    margin: 27px 33px 16px 33px;
}

.tittle {
    margin: 0px 33px;
    font-size: 20px;
    font-weight: 900;
    font-style: black;
}

.paragraph {
    width: 204px;
    margin: 20px 33px;
}

.vector {
    margin: 0px 80%;
}

.content-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 178px;
}

.content-article h2 {
    font-size: 64px;
    font-weight: 900;
    font-style: black;
}

.content-article button {
    margin-top: 30px;
    width: 200px;
    height: 48px;
    border: 2px solid #000000;
    background-color: #ED4D1B;
    font-family: "roboto";
    font-weight: 500;
    font-style: medium;
    font-size: 20px;
    box-shadow: 5px 5px #000000;
    transition: 0.3s;
    cursor: pointer;
}

.content-article button:hover {
    transform: scale(1.2);
}