footer {
    width: 90vw;
    height: 60vh;
    border: 2px solid #000;
    margin: 0% 5%;
}

.content-footer {
    padding: 93px 90px;
    display: flex;
    justify-content: space-between;
}

.content-footer .left h2 {
    width: 130px;
    height: 65px;
    font-size: 40px;
}

.content-footer .left span {
    font-size: 20px;
}

.content-footer .left p {
    width: 242px;
    margin-top: 32px;
}

.middle li {
    list-style: none;
    padding-top: 32px;
}

.middle li a {
    text-decoration: none;
    color: #000000;
    font-family: "roboto";
    font-weight: 600;
    font-style: medium;
    font-size: 20px;
    transition: 0.3s;
}

.middle li a:hover {
    color: #ED4D1B;
    text-decoration: underline;
}

.end {
    display: flex;
    flex-direction: column;
    padding-top: 32px;
}

.end p {
    font-size: 24px;
    font-weight: 500;
}

.end input {
    width: 560px;
    height: 48px;
    margin-top: 32px;
    padding-left: 10px;
    border: 2px solid #000;
    box-shadow: 5px 5px #000;
}

.end input::placeholder {
    padding-left: 5px;
}

.end button {
    color: #000;
    margin-top: 30px;
    width: 200px;
    height: 48px;
    border: 2px solid #000000;
    background-color: #ED4D1B;
    font-family: "roboto";
    font-weight: 500;
    font-style: medium;
    font-size: 20px;
    box-shadow: 5px 5px #000000;
    transition: 0.3s;
    cursor: pointer;
}

.end button:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 500px) {

    footer {
        width: 85vw;
        height: 120vh;
        margin: 0;
        margin: 0% 8%;
    }

    .content-footer {
        padding: 93px 30px;
        display: flex;
        flex-direction: column;
    }

    .end input {
        width: 272px;
        height: 48px;
    }

    .end button:hover {
        transform: none;
    }

}