header {
    width: 90vw;
    height: 20vh;
    border: 2px solid #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 5%;
    padding: 0px 90px;
}

header .logo h1 {
    width: 123px;
    font-family: "Roboto";
    font-weight: 900;
    font-size: 40px;
    font-style: black;
}

header .logo .mobile {
    display: none;
}

nav .links-dersktop {
    display: flex;
    gap: 60px;
}

nav .links-dersktop li {
    list-style: none;
}

nav .links-dersktop li a {
    text-decoration: none;
    color: #000000;
    font-family: "roboto";
    font-weight: 600;
    font-style: medium;
    font-size: 20px;
    transition: 0.3s;
}

nav .links-dersktop li a:hover {
    color: #ED4D1B;
    text-decoration: underline;
}

header .btn-header button {
    color: #000000;
    width: 200px;
    height: 48px;
    border: 2px solid #000000;
    background-color: #ED4D1B;
    font-family: "roboto";
    font-weight: 500;
    font-style: medium;
    font-size: 20px;
    box-shadow: 5px 5px #000000;
    transition: 0.3s;
    cursor: pointer;
}

header .btn-header button:hover {
    transform: scale(1.2);
}

nav .links-mobile li {
    list-style: none;
}

nav .links-mobile li a {
    text-decoration: none;
    color: #000000;
    font-family: "roboto";
    font-weight: 600;
    font-style: medium;
    font-size: 17px;
    transition: 0.3s;
}

.links-mobile {
    display: none;
}

@media screen and (max-width: 500px) {

    header {
        width: 85vw;
        height: 35vh;
        margin: 0;
        margin: 0px 8%;
        flex-direction: column;
        padding: 0;
        padding: 32px 0px;
    }

    header .logo .mobile {
        display: block;
        width: 206px;
        text-align: center;
        font-size: 28px;
    }

    nav .links-mobile {
        width: 158px;
        display: grid;
        grid-template-columns: 138px 1fr;
        padding: 25px 8px;
    }

    nav .links-dersktop {
        display: none;
    }

    header .logo .dersktop {
        display: none;
    }

    header .btn-header button:hover {
        transform: none;
    }

}