main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    border: solid 2px #000;
    margin: 0% 5%;
    padding: 80px 88px 283px 88px;
}

main .content-main h2 {
    width: 464px;
    font-size: 64px;
    font-weight: 900;
    font-style: black;
}

.color {
    color: #ED4D1B;
}

main .content-main p {
    margin-top: 10px;
    width: 369px;
    font-size: 16px;
    font-weight: 500;
    font-style: medium;
}

main .content-main button {
    color: #000;
    margin-top: 30px;
    width: 200px;
    height: 48px;
    border: 2px solid #000000;
    background-color: #ED4D1B;
    font-family: "roboto";
    font-weight: 500;
    font-style: medium;
    font-size: 20px;
    box-shadow: 5px 5px #000000;
    transition: 0.3s;
    cursor: pointer;
}

main .content-main button:hover {
    transform: scale(1.2);
}

main .img-main img {
    width: 800px;
}

@media screen and (max-width: 500px) {

    main {
        width: 85vw;
        margin: 0;
        margin: 0px 8%;
        flex-direction: column-reverse;
        padding: 0;
        padding: 46px 0px 150px 0px;
    }

    main .img-main img {
        width: 288px;
    }

    main .content-main h2 {
        width: 280px;
        font-size: 35px;
        margin: 5% 10%;
    }

    main .content-main p {
        width: 240px;
        font-size: 16px;
        margin: 5% 10%;
    }

    main .content-main button {
        margin: 0;
        margin: 10% 11%;
    }

    main .content-main button:hover {
        transform: none;
    }

}